{{> head}}
{{> header}}

<h1>Detalhes do Cliente</h1>


    <p><strong>{{cliente.cliente}}</strong></p>
    <p><strong>{{cliente.empresa}}</strong></p>
    <p><strong>{{cliente.email}}</strong> </p>
    <p><strong>{{cliente.telefone}}</strong></p>
    <p><strong>{{cliente.cpf_cnpj}}</strong> </p>


{{> foot}}